# Node
node_modules/
npm-debug.log
yarn-error.log

# Angular
Frontend/dist/
Frontend/.angular/
Frontend/.sass-cache/

# .NET
backend/bin/
backend/obj/
backend/logs/
backend/Backups/
backend/Database/*.db
backend/Database/*.db-shm
backend/Database/*.db-wal

# IDEs
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# OS
.DS_Store
Thumbs.db

# Environment
*.env
.env.local
.env.production

# Logs
*.log
logs/

# Temporal
*.tmp
*.temp
