services:
  - type: web
    name: flexoAPP-backend
    env: docker
    plan: free
    dockerfilePath: ./backend/Dockerfile
    healthCheckPath: /health # Cambia según tu endpoint de salud en el API
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: "Production"
      - key: MYSQL_CONNECTION_STRING
        sync: false

  - type: web
    name: flexoAPP-frontend
    env: static
    buildCommand: cd frontend && npm install && npm run build
    staticPublishPath: frontend/build # Cambia según tu framework (ejemplo para React)
