services:
  - type: web
    name: flexoAPP-backend
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile.backend
    healthCheckPath: /health
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production

  - type: web
    name: flexoAPP-frontend
    env: static
    buildCommand: cd Frontend && npm install && npm run build:prod
    staticPublishPath: Frontend/dist/flexoAPP/browser
