services:
  # Backend .NET Service
  - type: web
    name: flexoapp-backend
    env: docker
    plan: free
    dockerfilePath: ./backend/Dockerfile
    healthCheckPath: /health
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
        key: MYSQL_CONNECTION_STRING
        sync: false

    

  # Frontend Angular Service
  - type: web
    name: flexoapp-frontend
    env: static
    buildCommand: cd Frontend && npm install && npm run build
    staticPublishPath: Frontend/build


